.container-full {
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
    height: auto;
}

#brand-img {
    max-width:30px; margin-top: -7px;
}

body {
    width:100%;height:100%;margin:0;padding:0;
    font-family: 'Open Sans';
}

#map-canvas {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
}

.btn-primary {
    color: #fff;
    background-color: #94BAC3;
    border-color: #5F6F7A;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5F6F7A;
    border-color: #5F6F7A;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #94BAC3;
    border-color: #5F6F7A;
}
.btn-primary .badge {
    color: #94BAC3;
    background-color: #fff;
}

.fa-1x5 {
    margin-top: -3px;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 1.42857;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-brand {

    color: #FFFFFF;
}

.navbar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
    background-color: #94BAC3;
    border-bottom: 2px solid #94BAC3;
    color: #FFFFFF;
    font-family: 'Indie flower';
    font-size: 2em;
}

.navbar-brand {
    padding-top: 18px;
    font-size: 1em;
}
.form-control:focus {
    border-color: #5F6F7A;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(95, 111, 122, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(95, 111, 122, 0.6);
}
.panel-heading
{
    color: #FFFFFF;
    font-size: 1.1em;

    background-color: #94BAC3;
    padding: 8px;
    border-bottom: 2px solid #94BAC3;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-width: 2px;
}

table.datatable thead tr {
    background-color: #94BAC3 !important;
    color: white !important;

}
