{% extends 'SnuffelneusBundle::layout.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWwBozKvASCmRFk4Ji7v855T5mco1H7-U"></script>
    <script src="{{ asset('bundles/snuffelneus/js/maps.js') }}"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
{% endblock scripts %}

{% block content %}
    <div class="container-full">
        <div id="map-canvas" data-secret="{{ user.secret }}"></div>
    </div>
{% endblock content %}