{% extends 'SnuffelneusBundle::layout.html.twig' %}

{% block content %}
    <div class="container-full">
    {% for user in users %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-heading">
                    Metingen door snuffelaar <a href="{{ path('snuffelneus_details', {'secret': user.secret}) }}">{{ user.secret }}</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th colspan="3">Metingen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reading in user.readings %}
                        <tr>
                            <td>{{ reading.created|date("H:i:s m/d/Y") }}</td>
                            <td>{{ reading.latitude }}</td>
                            <td>{{ reading.longitude }}</td>
                            {% for measurement in reading.measurements %}
                                <td>{{ measurement.sensorType }} : {{ measurement.value }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}